<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/1692/1692816.png">
    <title>Pago</title>
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/1692/1692816.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <style>
        .buttons{
            display: flex;
            flex-direction:inherit;
        }
        .btn{
            height: 25px;
            width: 50%;
            font-size: 0.8rem;
            font-weight: 500;
            text-transform: capitalize;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            cursor: pointer;
            border-radius: 50px;
            user-select: none;
            background: linear-gradient(to right, rgb(86, 45, 247), rgb(121, 96, 220));
            border: none;
            Color: white;
            position: relative;
            z-index: 1;
            overflow: hidden;
            text-align: center;
            transform: translate(17%);
        }
        .btn::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            transition: background-Color 0.5s ease;
            z-index: -1;
        }
        .btn:hover::before{
            background-Color: hsla(0, 0%, 0%, 0.3) ;
        }
        .btn{
            text-decoration: none;
            padding: 10px 20px;
            font-size: 1.2rem;
            position: relative;
            margin: 32px;
            background-color: rgb(77, 106, 220);
            color: white;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            border-radius: 50px;
            transition: transform 0.3s ease;
        }
        .btn ::after, .btn ::before{
            content: "";
            position: absolute;
            opacity: 0.3;
            background-color: rgb(77, 106, 220);
            border-radius: inherit;
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0;
            z-index: -1;
            transition: transform 0.3s ease;
        }
        @import url('https://fonts.googleapis.com/css2? family= Bitter:ital,wght@1,700 & family= Montserrat:wght@300;400;500;600 & display=swap');
        body{
            background-color:  rgb(18, 47, 124);
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-size: 16px;
            line-height: 1.5;
            overflow-x: hidden;
            margin: 2%;
        }
        body::after, body::before{
            content: '';
            position: fixed;
            height: 900px;
            width: 900px;
            border-radius: 50%;
            z-index: -1;
            filter: blur(150px);
            opacity: 0.5;
        }
        body::before{
            background-color: rgb(28, 28, 171);
            left: 0;
            bottom: 0;
            transform: translate(-50%);
        }
        body::after{
            background-color: rgb(62, 3, 118);
            right: 0;
            top: 0;
            transform: translate(50%);
        }
        .form-main{
            min-height: 100vh;
            width: 50%;
            padding: 60px 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            transform: translateY(-16%);
            transform: translateX(47%);
        }

        .form-conte{
            width: 100%;
            max-width: 450px;
            position: relative;
            z-index: 1;
        }
        .form-conte .circle-1,
        .form-conte .circle-2,
        .form-conte .circle-3{
            position: absolute;
            background: linear-gradient(to right, rgb(55, 167, 242), rgb(23, 213, 143));
            border-radius: 50%;
            z-index: -1;
        }
        .form-conte .circle-1{
            height: 150px;
            width: 150px;
            left: 0;
            top: 10%;
            transform: translateX(-70%);
        }
        .form-conte .circle-2{
            height: 100px;
            width: 100px;
            right: 0;
            bottom: 0;
            transform: translate(30%);
        }
        .form-conte .circle-3{
            height: 50px;
            width: 50px;
            right: 10%;
            top: 10%;
        }
        .form-conte .box{
            transform: translateY(-15%);
            border: 1px solid rgb(147, 142, 142);
            border-radius: 40px;
            padding: 40px 50px;
            backdrop-filter: blur(10px);
        }
        .svg{
            transform: translate(35%);
        }
        h2{
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        h6{
            color: rgb(210, 251, 255);
            font-size: 0.7rem;
            
        }
        h1{
            margin: 1%;
        }
    </style>
</head>
<header>
    <div class="back">
        <div class="decorar-arriba">
         <h1><svg style="width: 60px;" fill="none" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><g fill="#ff7a00"><path d="m14.3333 10c-2.3932 0-4.3333 1.8813-4.3333 4.202v23.596c0 2.3207 1.9401 4.202 4.3333 4.202 4.7865 0 8.6667-3.7626 8.6667-8.404v-15.192c0-4.6414-3.8802-8.404-8.6667-8.404z" fill="#ff7a00" style=" fill: rgb(0, 255, 89);"></path><path d="m27 32h42c2.7614 0 5-2.2386 5-5v-3c0-2.7614-2.2386-5-5-5h-42z" fill="#ff7a00" style="fill: rgb(0, 255, 89);"></path><path d="m77.6482 29.5h16.1018c4.5564 0 8.25 3.6937 8.25 8.25 0 4.5564-3.6936 8.25-8.25 8.25h-60.25c-12.9787 0-23.5 10.5213-23.5 23.5s10.5213 23.5 23.5 23.5h2.4603c-.5856-2.6383-.5971-5.3393-.169-8h-2.2913c-8.5604 0-15.5-6.9396-15.5-15.5s6.9396-15.5 15.5-15.5h60.25c8.975 0 16.25-7.2754 16.25-16.25s-7.275-16.25-16.25-16.25h-16.1018c.2291.7937.3518 1.6325.3518 2.5v3c0 .8675-.1227 1.7063-.3518 2.5z" fill="#ff7a00" style="fill: rgb(0, 255, 89);"></path><path d="m74 58v13c0 3.866 3.134 7 7 7h29v22c0 2.761-2.239 5-5 5h-6.0795c.6958-1.696 1.0795-3.553 1.0795-5.5 0-8.0081-6.4919-14.5-14.5-14.5s-14.5 6.4919-14.5 14.5c0 1.947.3836 3.804 1.0795 5.5h-16.1638c-9.9892 0-17.6677-8.8388-16.2711-18.7299 2.446-17.3229 17.4919-28.2701 34.3554-28.2701z" fill="#ff7a00" style="fill: rgb(0, 255, 89);"></path></g><path d="m110 74v-11c0-2.7614-2.239-5-5-5h-27v13c0 1.6569 1.3431 3 3 3z" fill="#ffaa5b" style="fill: rgb(92, 124, 255);"></path><path d="m96 99.5c0 2.017-.5685 3.9-1.554 5.5-1.8484 3-5.1636 5-8.946 5s-7.0976-2-8.946-5c-.9855-1.6-1.554-3.483-1.554-5.5 0-5.799 4.701-10.5 10.5-10.5s10.5 4.701 10.5 10.5z" fill="#ffaa5b" style="fill: rgb(92, 124, 255);"></path></svg>TurboClean</h1>
        </div>
    </div>
   
</header>
<body>
    <section class="form-main">
        <div class="form-conte">
            <div class="circle-1"></div>
            <div class="circle-2"></div>
            <div class="circle-3"></div>
            <div class="box">
                <div class="card-header" >
                    <% if (error) { %>
                        <div class="svg">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M44,24c0,11.045 -8.955,20 -20,20c-11.045,0 -20,-8.955 -20,-20c0,-11.045 8.955,-20 20,-20c11.045,0 20,8.955 20,20z" fill="#d10e00"></path><path d="M29.656,15.516l2.828,2.828l-14.14,14.14l-2.828,-2.828z" fill="#ffffff"></path><path d="M32.484,29.656l-2.828,2.828l-14.14,-14.14l2.828,-2.828z" fill="#ffffff"></path></g></g>
                            </svg>
                        </div>
                        <% } else if (datos.message == "Payment successful") { %>
                            <div class="svg">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256">
                                    <defs><linearGradient x1="9.858" y1="9.858" x2="38.142" y2="38.142" gradientUnits="userSpaceOnUse" id="color-1_70yRC8npwT3d_gr1"><stop offset="0" stop-color="#04fb7a"></stop><stop offset="1" stop-color="#006c33"></stop></linearGradient></defs><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M44,24c0,11.045 -8.955,20 -20,20c-11.045,0 -20,-8.955 -20,-20c0,-11.045 8.955,-20 20,-20c11.045,0 20,8.955 20,20z" fill="url(#color-1_70yRC8npwT3d_gr1)"></path><path d="M32.172,16.172l-10.172,10.172l-5.172,-5.172c-0.781,-0.781 -2.047,-0.781 -2.828,0l-1.414,1.414c-0.781,0.781 -0.781,2.047 0,2.828l8,8c0.781,0.781 2.047,0.781 2.828,0l13,-13c0.781,-0.781 0.781,-2.047 0,-2.828l-1.414,-1.414c-0.781,-0.781 -2.047,-0.781 -2.828,0z" fill="#000000" opacity="0.05"></path><path d="M20.939,33.061l-8,-8c-0.586,-0.586 -0.586,-1.536 0,-2.121l1.414,-1.414c0.586,-0.586 1.536,-0.586 2.121,0l5.526,5.525l10.525,-10.525c0.586,-0.586 1.536,-0.586 2.121,0l1.414,1.414c0.586,0.586 0.586,1.536 0,2.121l-13,13c-0.585,0.585 -1.535,0.585 -2.121,0z" fill="#000000" opacity="0.07"></path><path d="M21.293,32.707l-8,-8c-0.391,-0.391 -0.391,-1.024 0,-1.414l1.414,-1.414c0.391,-0.391 1.024,-0.391 1.414,0l5.879,5.879l10.879,-10.879c0.391,-0.391 1.024,-0.391 1.414,0l1.414,1.414c0.391,0.391 0.391,1.024 0,1.414l-13,13c-0.39,0.391 -1.024,0.391 -1.414,0z" fill="#ffffff"></path></g></g>
                                 </svg>
                            </div>
                            <%  }%>
                </div>
                <div class="card-body">
                    <% if (error) { %>
                        <h2 style="font-weight: bold;">Error en Pago</h2>
                        <% } else if (datos.message == "Payment successful") {%>
                            <h2>Pago completado</h2>
                            <h6>ID Transacción</h6>
                            <p><%= datos.data.transaction_id %></p>
                            <h6>Costo</h6>
                            <p><%= datos.data.amount %> $</p>
                            <h6>Fecha</h6>
                            <p><%= datos.data.date %></p>
                             <% }%>
                </div>
                <div class="buttons">
                    <% if (error) { %>
                        <a href="/payment/<%= idProducto %>" class="btn">Volver</a>
                        <% } else { %>
                        <a href="/" class="btn">Volver</a>
                        <% } %>
                        
                </div>
            </div>
            

        </div>

    </section>
   
</body>
</html>